% rebase('base.html', title='About')

<script>
    document.getElementById('about').classList.add('currentLink');
</script>

<h3>About News Feed</h3>
<p id="aboutParagraph">
    News Feed offers personolized recommendations based on Naive Bayes Classification (green – recommened, red – not recommened).
    News Feed uses Firebase as a main backend provider with a little help of
    <a href="https://bottlepy.org/docs/dev/">Bottle</a> lightweight Python framework for serving static files,
    handling redirects and HTTP response codes.
</p>