<!--Basic layout-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ get('title', 'NewsFeed') }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    % include('firebase-setup.html')
    <!--Local static script-->
    <script src="/static/script-base.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <a href="/" class="mdl-layout__title">News Feed</a>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/about">About</a>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="login-button">
            <span id="userName"></span>
            <i class="material-icons" id="logoutButton">account_circle</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored logout-button" id="logout-button">Log out</button>
      </nav>
    </div>
  </header>
  <!--<div class="mdl-layout__drawer">-->
    <!--<span class="mdl-layout__title">News Feed</span>-->
    <!--<nav class="mdl-navigation">-->
      <!--<a class="mdl-navigation__link" href="/about">About</a>-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored" id="login-button">-->
            <!--<span id="userName"></span>-->
            <!--<i class="material-icons" id="logoutButton">account_circle</i>-->
        <!--</button>-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored logout-button" id="logout-button">Log out</button>-->
    <!--</nav>-->
  <!--</div>-->
  <main class="mdl-layout__content">
      {{!base}}
  </main>
</div>
</body>
% if defined('auth'):
% include('auth-setup.html')
% end
</html>