<!--Firebase credentials-->
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDPlH6lf3YKYwP5E3r1upEmEdegDlGetXk",
        authDomain: "newsfeed-d44e7.firebaseapp.com",
        databaseURL: "https://newsfeed-d44e7.firebaseio.com",
        projectId: "newsfeed-d44e7",
        storageBucket: "newsfeed-d44e7.appspot.com",
        messagingSenderId: "797997629313"
    };
    firebase.initializeApp(config);
</script>