* {
    font-size: 100%;
    font-family: Arial;
}

#logoutButton {
    margin-left: 10px;
}

.mdl-layout__content {
    border: 1px solid black;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*display: flex; these only for login page*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.mdl-layout__title {
    color: white;
    text-decoration: none;
}