* {
    font-size: 100%;
    font-family: Arial;
}

a {
    color: black;
}

#aboutParagraph {
    width: 700px;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}

td {
    font-size: 20px;
}

.mdl-navigation__link {
    font-size: 20px;
}

#logoutButton {
    margin-left: 10px;
}

.mdl-layout__content {
    /*border: 1px solid black;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 45px;
    /*display: flex; these only for login page*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.mdl-layout__title {
    color: white;
    text-decoration: none;
}

#news-table {
    min-width: 800px;
    max-width: 1000px;
    margin: 30px auto;
}

#news-table tr {
    /*background: mediumspringgreen;*/
    /*background: indianred;*/
}

.currentLink {
    font-weight: 700;
    text-decoration: underline;
}